# App basic
APP_NAME=<%= nameHyphen %>
APP_ROUTE_PREFIX=<%= LocalEnvAppBasic.AppRoutePrefix %>
APP_PORT=<%= LocalEnvAppBasic.AppPort %>
APP_DEBUG=true
APP_REPOSITORY=MSSQL
APP_ENV=local

# Database
DATABASE_HOST=<%= LocalEnvDatabase.host %>
DATABASE_PORT=<%= LocalEnvDatabase.port %>
DATABASE_NAME=<%= LocalEnvDatabase.database_name %>
DATABASE_USERNAME=<%= LocalEnvDatabase.username %>
DATABASE_PASSWORD="<%= LocalEnvDatabase.password %>"
DATABASE_TYPE=<%= LocalEnvDatabase.type %>

# Web URLs
APP_WEB=http://localhost:4200/


#Dapr
DAPR_SECRET_KEY=ms-database-connection-detail
DAPR_HOST=http://localhost
DAPR_SECRET_STORE_NAME=localsecretstore
