import { AppError, Result } from '@softobiz-df/shared-lib';
import { <%= namePascal %>Errors } from 'src/application/use-cases/<%= nameCamel %>/<%= nameCamel %>.errors';
import { <%= namePascal %>Dto } from '../../dto/<%= nameCamel %>.dto';



export type Get<%= namePascal %>ReponseType = Result<<%= namePascal %>Dto | <%= namePascal %>Errors.ProfileNotFound | AppError>