import { IDTO } from '@softobiz-df/shared-lib';

export class <%= namePascal %>Dto implements IDTO {
	
	public name: string

	public constructor(init?: Partial<<%= namePascal %>Dto>) {
		Object.assign(this, init)
	}
}
